# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Husqvarna API Keys
HUSQVARNA_APP_KEY=
HUSQVARNA_CLIENT_SECRET=

# Weather API Key (if applicable)
WEATHER_API_KEY=

# Vertex AI API Key (if applicable)
VERTEX_AI_API_KEY=

# Claude API key (for MCP chatbot)
ANTHROPIC_API_KEY=

# Public URL for MCP server
NEXT_PUBLIC_URL= 