# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Also needed for server-side code
FIREBASE_API_KEY=$NEXT_PUBLIC_FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=$NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN
FIREBASE_PROJECT_ID=$NEXT_PUBLIC_FIREBASE_PROJECT_ID
FIREBASE_STORAGE_BUCKET=$NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=$NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID
FIREBASE_APP_ID=$NEXT_PUBLIC_FIREBASE_APP_ID
FIREBASE_MEASUREMENT_ID=$NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID

# Husqvarna API Keys
HUSQVARNA_APP_KEY=c6e37aef-79a2-4221-9f95-e5bd8589db97
HUSQVARNA_CLIENT_SECRET=b407d95c-ffeb-4cda-a676-736bbb49e9d0

# Weather API Key
WEATHER_API_KEY=

# Google Cloud API
GOOGLE_CLOUD_API_KEY=
NEXT_PUBLIC_GOOGLE_CLOUD_API_KEY=$GOOGLE_CLOUD_API_KEY

# Vertex AI API Key
VERTEX_AI_API_KEY=

# Claude API key (for MCP chatbot)
ANTHROPIC_API_KEY=

# Public URL for MCP server
NEXT_PUBLIC_URL= 